<?xml version="1.0"?>

<model>
  <name>Kobra MOD:4W-3012</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Alberto</name>
    <email>Gasparin</email>
  </author>

  <description>
    A model of Kobra model 4W-3012 bu Nuzoo Robotics.
  </description>

</model>
