<?xml version="1.0"?>
<model>
  <name>Kobra-Hokuyo</name>
  <version>1.0</version>
  <sdf version='1.6'>hokuyo.sdf</sdf>

  <author>
    <name>Alberto Gasparin</name>
    <email>alberto.gasparin@mail.polimi.it</email>
  </author>
  <author>
    <name>Luca Morreale</name>
    <email>luca.morreale@mail.polimi.it</email>
  </author>

  <description>
    A version of hokuyo sensor with an angle fixed of 180 degrees
  </description>
</model>