<?xml version="1.0"?>
<model>
  <name>Kobra-Chassis</name>
  <version>1.0</version>
  <sdf version='1.6'>chassis.sdf</sdf>

  <author>
    <name>Alberto Gasparin</name>
    <email>alberto.gasparin@mail.polimi.it</email>
  </author>
  <author>
    <name>Luca Morreale</name>
    <email>luca.morreale@mail.polimi.it</email>
  </author>

  <description>
    A copy of Kobra's chassis developed by NuZoo Robotics
  </description>
</model>